.home {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: hidden;
}
.space {
    height: 100px;
}
.produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}