.produto {
    background-color: aliceblue;
    box-shadow: 1px 1px 5px rgb(80, 80, 80);
    min-height: 400px;
    width: 210px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: all ease-in-out .3s;
    margin: 8px;
    padding: 5px;
    margin-bottom: 10px;
}
.produto:hover {
    scale: 1.04;
}
.infoArea {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imgArea {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.oferta{
    width: 100%;
    background-color: rgb(255,247,8);
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}
.img {
    width: 80%;
    margin-top: 15px;
}
.nome {
    font-weight: bold;
    margin: 10px;
    font-size: 12px;
    width: 90%;
    text-align: center;
}
.cod {
    font-size: 12px;
    margin-bottom: 5px;
}
.preco {
    font-size: 15px;
}
.precoPix {
    font-size: 20px;
}
.space {
    height: 10px;
}
.infoPag {
    font-size: 10px;
}
.price {
    font-size: 15px;
    color: blue;
    font-weight: bold;
}